

@model QueFlow.Models.Question
@if(ViewBag.Msg != null){

    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Msg</h2>
}
<div class="card questions">

    <partial name="QuestionInfo" model="Model" />

    <hr />

</div>

<br />
<br />

@foreach (var answer in Model.Answers)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@answer.Text</p>
                    <small>@answer.DatePosted</small>
                    <div><i class="bi bi-person"></i>@answer.User.UserName</div>

                </div>
                <br>
                @if (answer.UserId == ViewBag.UserCurent) 
                {
                    <div class="d-flex">

                        <div>

                            <a class="btn btn-outline-primary" asp-action="Edit" asp-controller="Answers" asp-route-id="@answer.Id"><i class="bi bi-pencil-square"></i>Edit answer</a>

                        </div>
                    <div>

                        <form method="post" asp-controller="Answers" asp-action="Delete" asp-route-id="@answer.Id">

                            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Delete answer</button>

                        </form>

                    </div>
                    </div>
                }
                else if (User.IsInRole("Admin"))
                {
                    <div class="d-flex">

                    <div>

                        <form method="post" asp-controller="Answers" asp-action="Delete" asp-route-id="@answer.Id">

                            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Delete answer</button>

                        </form>

                    </div>

                  </div>
                }

                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" asp-controller="Questions" asp-action="Show">

                    <div class="card-body">

                        <input type="hidden" name="QuestionId" value="@Model.Id" />

                        <label>Answer content</label>
                        <br />

                        <textarea name="Text" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                        <br />

                        <button class="btn btn-success " type="submit">Add answer</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>