<h2>All categories</h2>
<br/>

@if(TempData.ContainsKey("message"))
{
	<h1>@ViewBag.message</h1>
}
<br/>
<br/>

@foreach(var category in ViewBag.Categories)
{
		<h3>@Html.Label("Name", "Category name")</h3>
	<div >
		<h4><a style="color:darkgreen;font-weight:bolder;" asp-action="Show" asp-controller="Categories" asp-route-id="@category.Id">@category.Name</a></h4>
		@if (User.IsInRole("Admin"))
		{
			<h5><a class="btn btn-success" asp-action="Edit" asp-controller="Categories" asp-route-id="@category.Id">Edit category</a></h5>
		}
	</div>
	<br/>
	<hr />
}
<br/>

<div>
	<nav aria-label"Pagination">
		<ul class="pagination">
			<li class="page-item">
				<a class="page-link" href="@ViewBag.PageBaseUrl=1" aria-label="First" >
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			@for(int i=1;i<=ViewBag.lastPage;i++)
			{
				<li class="page-item"> <a class="page-link" href="@ViewBag.PageBaseURL=@i">@(i)</a> </li>
			}
			<li class="page-item">
				<a class="page-link" href="@ViewBag.PageBaseUrl=@(ViewBag.lastPage)" aria-label="First">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>

<br />
@if (User.IsInRole("Admin"))
{
	<a class="btn alert-success" asp-action="New" asp-controller="Categories">Add a new category</a>
}