<h2>@ViewBag.Title</h2>
<br/>

@if(TempData.ContainsKey("message"))
{
	<h1>@ViewBag.message</h1>
}
<br/>
<br/>

@foreach(var category in ViewBag.Categories)
{
	@Html.Label("Name","Denumirea categoriei")
	<p>@category.Name</p>
	
	<a class="btn alert-succes" asp-action="Show" asp-controller="Categories" asp-route-id="@category.Id">Afisare intrebari categorie</a>
	<a class="btn alert-succes" asp-action="Edit" asp-controller="Categories" asp-route-id="@category.Id">Editarea categorie</a>

	<br/>
	<hr />
	<br/>
}
<br/>
<a class="btn alert-succes" asp-action="New" asp-controller="Categories">Adauga o noua categorie</a>