@model QueFlow.Models.Category

<h2>@ViewBag.Title</h2>
<br/>


<h3><a style="color:darkgreen;font-weight:bolder;font-size:larger;" asp-action="Index" asp-controller="Categories">@Model.Name</a></h3>
@if(Model.Description!=null)
{
	<p class="card-text"><h4 style="word-wrap: break-word; white-space: normal;"> @Model.Description</h4></p>
}
<br />
<hr/>
<br />
@foreach(var que in Model.Questions)
{
	<div class="card">

		<partial name="CategoryInfo" model="que" />

	</div>
	<br />
	<br />
}
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PageBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PageBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PageBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>