@model QueFlow.Models.ApplicationUser

<form asp-area="" asp-controller="Users" asp-action="Edit" method="post" asp-route-id="@Model.Id">
    <input asp-for="UserName" readonly hidden class="form-control" style="background-color:white" />

    <br />
    <label asp-for="ProfPic">User avatar</label>
    <br />
    <div>
        @if (!string.IsNullOrEmpty(Model.ProfPic))
        {
            <img src="@Model.ProfPic" alt="User avatar" style="max-width:100px; max-height:100px;" />
        }
        else
        {
            <p>User has no avatar</p>
        }
        <input type="hidden" id="ClearProfPic" name="ProfPic" value="@Model.ProfPic" />
        <button type="button" class="btn btn-outline-danger" onclick="clearField('ProfPic', '/images/profile-pictures/default.jpg');">Delete avatar</button>
    </div>
    <label asp-for="Alias" class="control-label">Username</label>
    <input asp-for="Alias" class="form-control" />
    <span asp-validation-for="Alias" class="text-danger"></span>
    <br />
    <label asp-for="Desc">User description</label>
    <br />
    <div>
        <input asp-for="Desc" class="form-control" style="background-color:white" readonly />
        <button type="button" class="btn btn-outline-danger" onclick="clearField('Desc', '');">Delete description</button>
    </div>

    <br />
    <label asp-for="Nume">User's name</label>
    <br />
    <input asp-for="Nume" class="form-control" style="background-color:white" readonly />

    <br />
    <label asp-for="Email">User's Email </label>
    <br />
    <input asp-for="Email" class="form-control" style="background-color:white" readonly />

    <br />
    <select name="newRole" class="form-control">
        <option selected>Select role</option>

        @foreach (var role in ViewBag.AllRoles)
        {
            @if (ViewBag.UserRole == role.Value)
            {
                <option selected="selected" value="@role.Value">@role.Text</option>
            }
            else
            {
                <option value="@role.Value">@role.Text</option>
            }
        }
    </select>

    <br />
    <button type="submit" class="btn btn-outline-success">Apply changes</button>

    <script>
        function clearField(fieldName, newValue) {
            const visibleInput = document.querySelector(`[name='${fieldName}']`);
            if (visibleInput) {
                visibleInput.value = newValue;
            }
        }
    </script>
</form>
<hr />
<form asp-controller="Users" asp-action="Delete" method="post" asp-route-id="@Model.Id">
    <button class="btn btn-outline-danger" type="submit">Delete user</button>
</form>